html, body, .container {
  width: 100%;
  height: 100%;
}
.container {
  background: #f9f9f9;
  padding: 30px 50px;
}

.row {
background: #FFFFFF;
box-shadow: 0 2px 20px 2px rgba(0,0,0,0.20);
padding: 30px 50px;
}

.highlight {
  color: #333 !important;
  animation-name: highlight;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

.selected {
  background: #acbad4;
}

@keyframes highlight {
    0% {color: #333;}
    50% {color: #00CC00;}
    100% {color: #333;}
}
